/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца +++++++
✦ card__like-button — для кнопки Like рядом с иконкой +++++
✦ card__icon-button — для кнопки, оборачивающей иконку +++++
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца +++
✦ button__text — для обозначения текстового элемента внутри кнопки +++++

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: grid;
  row-gap: 100px;
  align-content: center;
  justify-content: center;
  min-inline-size: 320px;
  font-family: var(--main-font, sans-serif), sans-serif;
  font-variation-settings: "wdth" var(--main-font-weight, sans-serif);
  background-color: var(--bg-color, #fff);
  color: var(--accent-color, #000);
  background-image: var(--backgroung-value);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  margin-block-start: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 368px;
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--accent-color, #000);
}

.header__logo {
  font-family: var(--accent-font, sans-serif), sans-serif;
  font-size: clamp(3.0625rem, 2.4847rem + 2.4653vw, 4.0625rem);
  color: var(--accent-color, #000);
  text-transform: uppercase;
  padding: 136px 120.5px 0;
}

.header__title {
  font-family: var(--accent-font, sans-serif), sans-serif;
  font-size: clamp(0.875rem, 0.55rem + 1.3867vw, 1.4375rem);
  font-weight: 400;
  color: var(--accent-color, #000);
  text-transform: uppercase;
  padding-block-end: 6px;
}

.header__theme-menu {
  font-family: var(--accent-font, sans-serif), sans-serif;
  padding-block-end: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
  padding-inline-start: 18px;
}

.theme-menu__item {
  font-size: 14px;
}

.theme-menu__button {
  position: relative;
  background: transparent;
  border: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -15px;
  animation: movingArrow 0.5s infinite ease-in-out alternate;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color, #fff);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.main {
  display: grid;
  row-gap: 50px;
  max-width: 700px;
}

.main__section {
  display: grid;
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--accent-color, #000);
}

.main__title {
  font-size: 18px;
  color: currentColor;
  font-weight: var(--main-font-title-weight, 700);
  border-bottom: 2px solid var(--accent-color, #000);
  padding: 3px 10px;
}

.main_container {
  position: relative;
  border-bottom: 2px solid var(--accent-color, #000);
}

.main__label {
  position: absolute;
  top: 28px;
  right: 26px;
  z-index: 1;
  font-family: var(--accent-font, sans-serif), sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: -1px 0 var(--label-stroke-color, #fff),
    0 1px var(--label-stroke-color, #fff), 1px 0 var(--label-stroke-color, #fff),
    0 -1px var(--label-stroke-color, #fff);
}

@supports (
  (text-stroke: 1px var(--label-stroke-color, #fff)) or
    (-webkit-text-stroke: 1px var(--label-stroke-color, #fff))
) {
  .main__label {
    -webkit-text-stroke: 1px var(--label-stroke-color, #fff);
    text-stroke: 1px var(--label-stroke-color, #fff);
    text-shadow: none;
  }
}

.section__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__text {
  line-height: 117%;
  color: currentColor;
  font-size: 18px;
  padding: 25px 25px 0;
}

.main_button-container {
  display: flex;
  justify-content: end;
  align-items: start;
  column-gap: 4px;
  padding: 27px 25px 25px 25px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid transparent;
  padding: 0px;
  transition: border 0.3s ease;
}

.main__button {
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--accent-color, #000);
  transition: box-shadow 0.5s ease-in-out;
}

.card__like-button {
  min-width: 130px;
  min-height: 38px;
}

.like-icon {
  width: 37px;
  height: 34px;
}

.main__button:focus,
.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color, #000);
}

.main__button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color, #000);
}

.main__button::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  min-height: 36px;
  background: var(--accent-color, #000);
  transition: width 0.5s ease-in-out;
}

.main__button:hover::before {
  width: 100%;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--accent-font, sans-serif), sans-serif;
  font-size: 14px;
  line-height: 90%;
  color: var(--main-button-color, #000);
  mix-blend-mode: difference;
}

.sparks {
  opacity: 0;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core {
  fill: var(--heart-contour-color, #000);
  transition: fill 0.3s linear 0.03s;
}

.like-icon:active .core {
  fill: var(--heart-filling-color, #ff0000);
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear 0.05s;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour-color, #000);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-filling-color, #ff0000);
  transition: fill 0.3s linear;
}

.contour {
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour {
  fill: var(--heart-filling-color, #ff0000);
}

.like-icon.is-liked .heart {
  animation: heart-like-scale 0.3s ease-in 0.1s alternate;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: heart-like-sparks 0.3s ease-in 0.3s alternate;
  transform-origin: center;
}

.like-icon:not(.is-liked) .contour {
  fill: var(--heart-contour-color, #000);
  transition: fill 0.1s linear;
}

.main__save-button {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 9px;
  min-width: 335px;
  min-height: 55px;
  background-color: var(--bg-color, #fff);
}

.main__save-button::before {
  min-height: 53px;
}

.main__save-button-icon {
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 2;
  fill: var(--main-button-color, #000);
  color: var(--main-button-color, #000);
  mix-blend-mode: difference;
}

.main__dialog {
  background-color: var(--bg-color, #fff);
  border: 2px solid var(--accent-color, #000);
  padding: 30px;
}

.main__dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main_dialog-icon {
  max-inline-size: 39px;
  max-block-size: 39px;
  fill: var(--accent-color, #000);
}

.main_dialog-text {
  text-transform: uppercase;
  max-width: 234px;
  line-height: 150%;
}

.main__dialog-button {
  padding: 10px 132.5px;
  line-height: 100%;
  margin-block-start: 30px;
  min-width: 293px;
  text-transform: uppercase;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.filter_greyscale {
  filter: grayscale(50%);
}

.filter_invert {
  filter: invert(100%);
}

.filter_contrast {
  filter: contrast(110%);
}

.filter_brightness {
  filter: brightness(80%);
}

.filter_opacity {
  filter: opacity(0.3);
}

.filter_sepia {
  filter: sepia(0.9);
}

.filter_saturate {
  filter: saturate(350%);
}

.filter_multiple {
  filter: saturate(250%) hue-rotate(0.5turn);
}

@media (width <= 645px) {
  .header {
    min-height: 327px;
  }

  .header__logo {
    padding: 120px 14px 0;
  }

  .main_button-container {
    padding: 26px 25px 25px 25px;
  }
}

@media (width <= 400px) {
  .main__save-button {
    min-width: 306px;
    min-height: 84px;
    flex-direction: column;
    row-gap: 8px;
  }

  .main__save-button-icon {
    width: 28px;
    height: 28px;
  }

  .main__save-button::before {
    min-height: 80px;
  }
}
